:root {
    /* Color */
    --white-color : #f8f8f8;
    --white-bg-color: #FEFEFE;
    --orange-color : #F6BB43;
    --black-color : #181816;
    --black-light-color : #42423b;
    --gery-color : #C0C0C0;
    --gery-dark-color : #696969;
    --red-color : #9CB348;

    /* #A88B5B */
    /* #C3FCF2 */
    /* #B5AA99 */
    /* #9CB348 */
    /* #4D9F64 */
    /* #008476 */
    /* #0A6673 */

    /* size */
    --padding: 12px;
    --margin: 200px;
    --max-size: 1132px;
    --menu-size: 300px;

    /* Font size */
    --font-more-great : 143px;
    --font-great : 80px;
    --font-huge : 45px;
    --font-big : 35px;
    --font-large: 26px;
    --font-medium: 18px;
    --font-small: 12px;
    --font-more-small : 8px;
    --font-mirco: 2px;
}
@font-face {
    font-family: 'ImcreSoojin';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.3/ImcreSoojin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    width: 100%;
    height: 100%;
}
body {
    font-family: 'ImcreSoojin';
    color: var(--black-color);
    width: 100%;
    height: 100%;
    -ms-overflow-style: none;
}

button,
button:focus{
    background-color:transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

::-webkit-scrollbar {
    display: none;
}

.map_container.full-height{
    height: 100%;
}

.map_container{
        width: 100%;
    
}
#map{
    width:100%;
    height:100%;
    position:relative;
    overflow:hidden;
}
.map_wrap,
.map_wrap * {
    font-size: 12px;
}

.map_wrap a,
.map_wrap a:hover,
.map_wrap a:active {
    color: #000;
    text-decoration: none;
}

.map_wrap {
    position: relative;
    width: 100%;
    height: 100%;
}

#menu_wrap {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    margin: 10px 0 30px 10px;
    padding: 5px;
    overflow-y: auto;
    -ms-overflow-style: none;
    background: rgba(255, 255, 255, 0.7);
    z-index: 1;
    font-size: 12px;
    border-radius: 10px;
}
#menu_wrap::-webkit-scrollbar {
    display: none;
}

.bg_white {
    background: #fff;
}

#menu_wrap hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #5F5F5F;
    margin: 3px 0;
}

#placesList li {
    list-style: none;
}

#placesList .item {
    position: relative;
    border-bottom: 1px solid #888;
    overflow: hidden;
    cursor: pointer;
    min-height: 65px;
}

#placesList .item span {
    display: block;
    margin-top: 4px;
}

#placesList .item h5,
#placesList .item .info {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#placesList .item .info {
    padding: 10px 0 10px 55px;
}

#placesList .info .gray {
    color: #8a8a8a;
}

#placesList .info .jibun {
    padding-left: 26px;
    background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;
}

#placesList .info .tel {
    color: #009900;
}

#placesList .item .markerbg {
    float: left;
    position: absolute;
    width: 36px;
    height: 37px;
    margin: 10px 0 0 10px;
    background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png) no-repeat;
}

#placesList .placeButton{
    width:220px;
    height: 30px;
    font-family: 'ImcreSoojin';
    color: var(--black-color);
}

#place_search_box{
	position: absolute;
	bottom: 50px;
	right: 10px;
	z-index: 10;
	width: 300px;
}

#place_search_box .place_search_container{
	display: flex;
}

#place_search_box .place_search_container .place_search{
  padding: 15px 45px 15px 20px;
  width: 100%;
  color: #525252;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 2px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(to right, #FFFFFF 0%,#464747 #F9F9F9 100%);
  transition: width 0.4s ease;
  outline: none;
}

#place_search_box .place_search_container .search-icon{
  position: relative;
  font-size: var(--font-large);
  right : 40px;
}


.modal { 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%;
	height: 100%;
	display: none;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 10; 
} 
.modal.show { 
	display: block; 
} 
.modal_body { 
	position: absolute; 
	top: 50%; 
	left: 50%; 
	width: 400px; 
	height: 600px; 
	padding: 40px; 
	text-align: center; 
	background-color: rgb(255, 255, 255);
	border-radius: 10px;
	box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15); 
	transform: translateX(-50%) translateY(-50%); 
	z-index: 10;
}
.place_info_box{
	padding: var(--font-small);
	margin: var(--font-more-small) 0;
	width : 100%;
}

.place_info_box input[type=text] {
  width: 100%;
  font-size: var(--font-small);
  font-family: 'ImcreSoojin';
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
}

#place_name{
	font-size: var(--font-medium);
}

.place_add_btn{
	font-size: var(--font-medium);
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  text-align: center;
  text-decoration: none;
  background-color: #0d6efd;
  padding: var(--font-small);
  margin: var(--font-medium);
  cursor: pointer;
}

.place_cancel_btn{
	font-size: var(--font-medium);
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  text-align: center;
  text-decoration: none;
  background-color: #dc3545;
  padding: var(--font-small);
  margin: var(--font-medium);
  cursor: pointer;
}

#place_comment{
	margin: 20px;
	border:none;
	width: 284px;
	font-family: 'ImcreSoojin';
	text-align: left;
}